<section class="about-show">
  <header class="page-header">
    <h1>
      About
    </h1>
  </header>

  <div class='container'>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque aliquam est vitae consectetur. Praesent efficitur sapien non urna volutpat, id aliquam odio dapibus. Nullam sapien nibh, tincidunt at turpis eget, ullamcorper ornare ex. Vestibulum porta euismod scelerisque. Donec quis arcu ac augue ullamcorper laoreet ac non nulla. Mauris semper sodales leo, tincidunt semper nunc varius a. Suspendisse viverra eros nulla, at molestie metus consectetur commodo. Nulla mollis est at diam condimentum efficitur. Maecenas suscipit ipsum nisi, nec pharetra nunc mollis ut. Nulla ut pharetra quam, vitae aliquam lacus. Praesent a fringilla purus.
      Nulla nulla magna, mollis eget est sit amet, molestie dictum felis. Donec at dolor ligula. Vestibulum blandit quam nunc. Phasellus vitae erat ex. In hac habitasse platea dictumst. Vestibulum lacinia, enim at cursus fermentum, mauris est euismod lacus, sed ultrices erat nisl vel lorem. Maecenas quis dictum justo. Nunc consectetur diam orci, quis dapibus nisl gravida ac. Maecenas in sem eu mi mattis dictum a in dui. Fusce fringilla lectus in mi sodales ornare. Donec vitae mollis massa. Ut consectetur libero at faucibus lacinia. Duis dapibus, tellus vitae pretium lacinia, metus nisl dignissim tellus, et varius magna nunc vitae dolor.
    </p>
  </div>

</section>